<!--<ul class="menu_horizontal">-->
  <!--<li class="bouton_gauche"><a href="#">Actualité</a></li>-->
  <!--<li class="bouton_gauche"><a href="#">Evenements</a></li>-->
  <!--<li class="bouton_gauche"><a href="#">Streaming</a></li>-->
  <!--<li class="bouton_droite"><a href="#"></a></li>-->
  <!--<li class="bouton_droite"><a href="#"></a></li>-->
<!--</ul>-->
<nav>
  <ul>
    <li class="separator"><a href="#">Actualité</a></li>
    <li class="separator"><a href="#">Evenements</a></li>
    <li><a href="#">Streaming</a></li>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/users">Users</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
